#ballot {
  h1 {
    text-align: center;
  }

  ul {
    width: 30vw;
    margin: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
}

.candidate-list {
  width: 30vw;
  margin: auto;

  li {
    span {
      color: #000;
    }
  }
}

#add-candidate {
  ul {
    width: 30vw;
    margin: auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
  form {
    margin: auto;
    width: 40vw;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 100%;
    }

    .form-group {
      width: 100%;
      margin-bottom: 1rem;
    }

    .tc-button {
      width: 100%;

      .btn {
        background-color: black;
        color: white;
      }
    }

    label {
      width: 100%;
      text-align: center;
    }

    input {
      width: 100%;
    }
  }
}

#delegate {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;

    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        text-align: center;
        margin-bottom: 0.5rem;
      }
      .dropdown,
      .dropdown-menu,
      .dropdown-toggle {
        width: 100%;
      }
    }
  }
}

#add-voter {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      width: 100%;
      display: flex;
      margin-bottom: 1rem;
      flex-direction: column;
      align-items: center;
      label {
        text-align: center;
      }
    }
  }
}
